main {
	padding: 30px;
	font-size: 0;
}

.top, .bottom {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.rect {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	display: inline-block;
	font-size: 0;
}

.sqr {
	width: 33.33%;
	height: 300px;
	border: 1px solid black;
	display: inline-block;
	font-size: 0;
}

.green {
	background-color: green;
}

.gray {
	background-color: gray;
}

.blue {
	background-color: blue;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}